.card {       
  min-width: 70vw;
  min-height: 45vh;

  max-width: 90%;
  
  background-color: var(--text-main); /* White card */
  color: #333; /* Dark text inside card */
  
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  
  display: flex;
  align-items: center;     
  justify-content: center;   
  padding: 2rem;          
  font-size: 1.5rem;
  
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02); /* Slight pop effect */
}