.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  min-height: 100vh; 

  background-color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-container h1 {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 1px rgba(255,255,255,0.5), 
                1px 1px 1px rgba(0,0,0,0.5);
}


.button-row {
    display: flex;
}


button {
  border: none;
  background-color: #333; 
  color: rgb(255, 255, 255);           
  
 
  margin: 1.25rem 0.5rem 0rem 0.5rem;   
  padding: 0.65rem;  
  border-radius: 5px;    
  font-size: 1rem;
  font-weight: bold;
  
  
  cursor: pointer;        
  transition: all 0.2s;   
}


button:hover {
  background-color: #555; 
  transform: translateY(-2px); 
  box-shadow: 0 4px 6px rgba(0,0,0,0.2); 

}


button:active {
  transform: translateY(0); 
  box-shadow: none;         
}